:root {
  --primary-bg-color: #0e0e0e;
  --secondary-opacity-bg-color: rgba(11, 11, 11, 0.5);
  --white-opasity20-bg-color: rgba(255, 255, 255, 0.2);
  --third-bg-color: #939393;
  --modal-bg-color: #fff2fd;
  --decor-bg-color: #212121;
  --decor-svg-color: #c4c4c4;
  --accent-primary-color: #dc56c5;
  --accent-opasity20-color: rgba(220, 86, 197, 0.2);
  --accent-opasity30-color: rgba(220, 86, 197, 0.3);
  --primary-text-color: #fff;
  --secondary-text-color: #0e0e0e;
  --secondary-accent-color: #4c00fe;
}
