<section class="backdrop-about visually-hidden" data-about>
    <div class="modal-about-card">
        <div class="about-card">
            <button type="button" class="about-card__x" data-about-close>
        <svg class="about-card__x1">
          <use href="./images/symbol-defs.svg#icon-x1-modal"></use>
        </svg>
        <svg class="about-card__x2">
          <use href="./images/symbol-defs.svg#icon-x2-modal"></use>
        </svg>
      </button>
        </div>
        <div class="about-card__team">
            <h2 class="about-card__team-name">Script Studio</h2>
            <ul class="about-card__team-list">
                <li class="about-card__item-image"><img src="./images/team/img1.jpg" alt="" /></li>
                <li class="about-card__item-list">
                    <ul class="about-card__team-member">
                        <li class="about-card__team-role">Team Lead</li>
                        <li class="about-card__member-name">Andrey Vinnikov</li>
                    </ul>
                </li>
                <li class="about-card__item-image"><img src="./images/team/img1.jpg" alt="" /></li>
                <li class="about-card__item-list">
                    <ul class="about-card__team-member">
                        <li class="about-card__team-role">Team Lead</li>
                        <li class="about-card__member-name">Andrey Vinnikov</li>
                    </ul>
                </li>
                <li class="about-card__item-image"><img src="./images/team/img1.jpg" alt="" /></li>
                <li class="about-card__item-list">
                    <ul class="about-card__team-member">
                        <li class="about-card__team-role">Team Lead</li>
                        <li class="about-card__member-name">Andrey Vinnikov</li>
                    </ul>
                </li>
                <li class="about-card__item-image"><img src="./images/team/img1.jpg" alt="" /></li>
                <li class="about-card__item-list">
                    <ul class="about-card__team-member">
                        <li class="about-card__team-role">Team Lead</li>
                        <li class="about-card__member-name">Andrey Vinnikov</li>
                    </ul>
                </li>
                <li class="about-card__item-image"><img src="./images/team/img1.jpg" alt="" /></li>
                <li class="about-card__item-list">
                    <ul class="about-card__team-member">
                        <li class="about-card__team-role">Team Lead</li>
                        <li class="about-card__member-name">Andrey Vinnikov</li>
                    </ul>
                </li>
                <li class="about-card__item-image"><img src="./images/team/img1.jpg" alt="" /></li>
                <li class="about-card__item-list">
                    <ul class="about-card__team-member">
                        <li class="about-card__team-role">Team Lead</li>
                        <li class="about-card__member-name">Andrey Vinnikov</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>