<section class="visually-hidden backdrop-about" data-about>
  <div class="container about-card">
    <div class="about-card__btn">
      <button type="button" class="about-card__x" data-about-close>
        <svg class="about-card__x1">
          <use href="./images/symbol-defs.svg#icon-x1-modal"></use>
        </svg>
        <svg class="about-card__x2">
          <use href="./images/symbol-defs.svg#icon-x2-modal"></use>
        </svg>
      </button>
    </div>
    <div class="about-card__team ">
      <h2 class="title-team animate__animated ">Our Team :)</h2>

      <ul>
        <li class="team-lead  animate__animated animate__delay-2s">
          <div class="img-box">
            <img src="./images/ANDRII.jpg" alt="Andrii Vinnykov" />
          </div>
          <div class="about-card__rectangle"></div>
          <div class="about-card__team-content">
            <h3>Andrii Vinnykov</h3>
            <p>Team Lead</p>
          </div>
        </li>
        <li class="team-up animate__animated animate__delay-2s">
          <div class="img-box">
            <img src="./images/Aleksander.jpg" alt="Aleksander Teplechuk" />
          </div>
          <div class="about-card__rectangle"></div>
          <div class="about-card__team-content">
            <h3>Aleksander Teplechuk</h3>
            <p>Scrum master</p>
          </div>
        </li>
        <li class="team__upLeft animate__animated animate__delay-2s">
          <div class="img-box">
            <img src="./images/Anna.jpg" alt="Anna Sobchenko" />
          </div>
          <div class="about-card__rectangle"></div>
          <div class="about-card__team-content">
            <h3>Anna Sobchenko</h3>
            <p>Developer</p>
          </div>
        </li>
        <li class="team__downLeft animate__animated animate__delay-2s">
          <div class="img-box">
            <img src="./images/Valentin.jpg" alt="Valentin Kuzmich" />
          </div>
          <div class="about-card__rectangle"></div>
          <div class="about-card__team-content">
            <h3>Valentin Kuzmich</h3>
            <p>Developer</p>
          </div>
        </li>
        <li class="team__down animate__animated animate__delay-2s">
          <div class="img-box">
            <img src="./images/Vadim.jpg" alt="Vadim Zaets" />
          </div>
          <div class="about-card__rectangle"></div>
          <div class="about-card__team-content">
            <h3>Vadim Zaets</h3>
            <p>Developer</p>
          </div>
        </li>
        <li class="team__downRight animate__animated animate__delay-2s">
          <div class="img-box">
            <img src="./images/Yevhenii.jpg" class="team-img" alt="Yevhenii Peredrii" />
          </div>
          <div class="about-card__rectangle"></div>
          <div class="about-card__team-content">
            <h3>Yevhenii Peredrii</h3>
            <p>Developer</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
