<section class="backdrop-about visually-hidden" data-about>
  <div class="modal-about-card container">
    <div class="about-card">
      <button type="button" class="about-card__x" data-about-close>
        <svg class="about-card__x1">
          <use href="./images/symbol-defs.svg#icon-x1-modal"></use>
        </svg>
        <svg class="about-card__x2">
          <use href="./images/symbol-defs.svg#icon-x2-modal"></use>
        </svg>
      </button>
    </div>
    <div class="team">
      <h2 class="team-title">Our Team :)</h2>

      <ul class="team-list">
        <li class="team-item">
          <div class="team__img-box">
            <img src="./images/ANDRII.jpg" class="team-img" alt="Andrii Vinnykov" />
          </div>
          <div class="team-item__content">
            <h3 class="team-item__name">Andrii Vinnykov</h3>
            <p class="team-item__position">Team Lead</p>
          </div>
        </li>
        <li class="team-item">
          <div class="team__img-box">
            <img src="./images/Aleksander.jpg" class="team-img" alt="Aleksander Teplechuk" />
          </div>
          <div class="team-item__content">
            <h3 class="team-item__name">Aleksander Teplechuk</h3>
            <p class="team-item__position">Scrum master</p>
          </div>
        </li>
        <li class="team-item">
          <div class="team__img-box">
            <img src="./images/Anna.jpg" class="team-img" alt="Anna Sobchenko" />
          </div>
          <div class="team-item__content">
            <h3 class="team-item__name">Anna Sobchenko</h3>
            <p class="team-item__position">Developer</p>
          </div>
        </li>
        <li class="team-item">
          <div class="team__img-box">
            <img src="./images/Valentin.jpg" class="team-img" alt="Valentin Kuzmich" />
          </div>
          <div class="team-item__content">
            <h3 class="team-item__name">Valentin Kuzmich</h3>
            <p class="team-item__position">Developer</p>
          </div>
        </li>
        <li class="team-item">
          <div class="team__img-box">
            <img src="./images/Vadim.jpg" class="team-img" alt="Vadim Zaets" />
          </div>
          <div class="team-item__content">
            <h3 class="team-item__name">Vadim Zaets</h3>
            <p class="team-item__position">Developer</p>
          </div>
        </li>
        <li class="team-item">
          <div class="team__img-box">
            <img src="./images/Yevhenii.jpg" class="team-img" alt="Yevhenii Peredrii" />
          </div>
          <div class="team-item__content">
            <h3 class="team-item__name">Yevhenii Peredrii</h3>
            <p class="team-item__position">Developer</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- <div class="about-card__team">
                <h2 class="about-card__team-name">Script Studio</h2>
                <ul class="about-card__team-list">
                    <li class="about-card__item-image"><img src="./images/team/img1.jpg" alt="" /></li>
                    <li class="about-card__item-list">
                        <ul class="about-card__team-member">
                            <li class="about-card__team-role">Team Lead</li>
                            <li class="about-card__member-name">Andrey Vinnikov</li>
                        </ul>
                    </li>
                    <li class="about-card__item-image"><img src="./images/team/img1.jpg" alt="" /></li>
                    <li class="about-card__item-list">
                        <ul class="about-card__team-member">
                            <li class="about-card__team-role">Team Lead</li>
                            <li class="about-card__member-name">Andrey Vinnikov</li>
                        </ul>
                    </li>
                    <li class="about-card__item-image"><img src="./images/team/img1.jpg" alt="" /></li>
                    <li class="about-card__item-list">
                        <ul class="about-card__team-member">
                            <li class="about-card__team-role">Team Lead</li>
                            <li class="about-card__member-name">Andrey Vinnikov</li>
                        </ul>
                    </li>
                    <li class="about-card__item-image"><img src="./images/team/img1.jpg" alt="" /></li>
                    <li class="about-card__item-list">
                        <ul class="about-card__team-member">
                            <li class="about-card__team-role">Team Lead</li>
                            <li class="about-card__member-name">Andrey Vinnikov</li>
                        </ul>
                    </li>
                    <li class="about-card__item-image"><img src="./images/team/img1.jpg" alt="" /></li>
                    <li class="about-card__item-list">
                        <ul class="about-card__team-member">
                            <li class="about-card__team-role">Team Lead</li>
                            <li class="about-card__member-name">Andrey Vinnikov</li>
                        </ul>
                    </li>
                    <li class="about-card__item-image"><img src="./images/team/img1.jpg" alt="" /></li>
                    <li class="about-card__item-list">
                        <ul class="about-card__team-member">
                            <li class="about-card__team-role">Team Lead</li>
                            <li class="about-card__member-name">Andrey Vinnikov</li>
                        </ul>
                    </li>
                </ul>
            </div> -->
