


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
    <footer class="footer">
    <div class="container"> 
        <div class="footer__text"><a href=""> <span>&copy;</span> 2021 | All Rights Reserved | Developed with <span class="footer__text_heard">&#10084;</span> by GoIT Students</a>
     </div>
 </div>
 </footer>
</body>
</html>

