<p>Header</p>
<header>
      <form class="search-form" id="search-form">
        <div class="form-field">
          <input class="search-input" type="text" name="searchQuery" autocomplete="off" placeholder="Start searching" />
          <svg class="search-icon" width="50" height="50">
            <use href=""></use>
          </svg>
        </div>
      
        <div class="form-field">
          <input class="country-input" type="text" name="searchCountryQuery" autocomplete="off"
            placeholder="Choose country" />
          <svg class="country-icon" width="50" height="50">
            <use href=""></use>
          </svg>
        </div>
      </form>

  </header>