<header class="header">

    <div class="logo">
        <a href="index.html">
            <ul class="logo-list">
                <li class="logo-item event-item">
                    <svg class="logo-icon ">
            <use href="./images/symbol-defs.svg#icon-e-logo"></use>
          </svg>
                </li>
                <li class="logo-item event-item">
                    <svg class="logo-icon  ">
          <use href="./images/symbol-defs.svg#icon-v-event"></use>
        </svg>
                </li>
                <li class="logo-item event-item">
                    <svg class="logo-icon  ">
          <use href="./images/symbol-defs.svg#icon-e-logo"></use>
        </svg>
                </li>
                <li class="logo-item event-item">
                    <svg class="logo-icon  ">
          <use href="./images/symbol-defs.svg#icon-n-event"></use>
        </svg>
                </li>
                <li class="logo-item  event-item">
                    <svg class="logo-icon">
          <use href="./images/symbol-defs.svg#icon-t-buster"></use>
        </svg>
                </li>
                <li class="logo-item">
                    <svg class="logo-icon">
          <use href="./images/symbol-defs.svg#icon-b-buster"></use>
        </svg>
                </li>
                <li class="logo-item">
                    <svg class="logo-icon logo-icon__u1" width="10" height="21">
          <use href="./images/symbol-defs.svg#icon-u1-buster"></use>
        </svg>
                </li>
                <li class="logo-item">
                    <svg class="logo-icon logo-icon__u2" width="10" height="21">
          <use href="./images/symbol-defs.svg#icon-u2-buster"></use>
        </svg>

                </li>
                <li class="logo-item">
                    <svg class="logo-icon">
          <use href="./images/symbol-defs.svg#icon-s-buster"></use>
        </svg>
                </li>
                <li class="logo-item buster-item">
                    <svg class="logo-icon ">
          <use href="./images/symbol-defs.svg#icon-t-buster"></use>
        </svg>
                </li>
                <li class="logo-item buster-item">
                    <svg class="logo-icon ">
          <use href="./images/symbol-defs.svg#icon-e-logo"></use>
        </svg>
                </li>
                <li class="logo-item buster-item">
                    <svg class="logo-icon ">
          <use href="./images/symbol-defs.svg#icon-r-buster"></use>
        </svg>
                </li>
            </ul>
        </a>
    </div>
    <div class="header__background"></div>
    <div class="header__overlay"></div>
    <div class="header__overlay_bottom"></div>
    <!-- <div class="title-search__container"> -->
    <div class="title-container">
        <h2 class="title">FIND BEST EVENTS <br> AROUND THE WORLD</h2>
    </div>

    <div class="form-container">
        <form class="search-form" id="search-form">
            <div class="form-field-search">
                <input class="search-input" type="text" name="searchQuery" autocomplete="off" placeholder="Start searching" />
                <svg class="search-icon">
            <use href="./images/symbol-defs.svg#icon-search"></use>
          </svg>
            </div>

            <div class="form-field-country">
                <div class="app">
                    <div class="wrap">
                        <div id="select"></div>
                    </div>
                </div>
            </div>
            <button class="btn-hidden"> Search </button>

        </form>
    </div>
    <!-- </div> -->
</header>