<section class="section home">
  <div class="geometry">
    <div class="geometry__left">
      <div class="geometry__line1"></div>
      <div class="geometry__circle">
        <div class="geometry__circle2"></div>
      </div>
      <div class="geometry__line2"></div>
      <div class="geometry__circle">
        <div class="geometry__circle2"></div>
      </div>
      <div class="geometry__line2"></div>
      <div class="geometry__circle">
        <div class="geometry__circle2"></div>
      </div>
      <div class="geometry__line2"></div>
    </div>
    <div class="geomerty__right">
      <div class="geometry__line3"></div>
      <div class="geometry__circle">
        <div class="geometry__circle2"></div>
      </div>
      <div class="geometry__line2"></div>
      <div class="geometry__circle">
        <div class="geometry__circle2"></div>
      </div>
      <div class="geometry__line2"></div>
      <div class="geometry__circle">
        <div class="geometry__circle2"></div>
      </div>
      <div class="geometry__line2"></div>
    </div>
  </div>
  <div class="geometry2">
    <div class="geometry2__left">
      <div class="geometry2__space-left"></div>
      <div class="geometry2__circle-left"></div>
    </div>
    <div class="geometry2__right">
      <div class="geometry2__space-right"></div>
      <div class="geometry2__circle-right"></div>
      <div class="geometry2__space-right"></div>
      <div class="geometry2__space-right"></div>
      <div class="geometry2__space-right"></div>
      <div class="geometry2__circle-right"></div>
    </div>
  </div>
  <div class="container">
    <div class="search">
      <ul class="search__list"></ul>
    </div>
  </div>
</section>
