<section class="section home">
  <div class="container">
    <div class="search">
      <ul class="search__list">
        <!-- <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li>
        <li class="search__item"></li> -->
      </ul>
    </div>
    <div class="geometry">
      <div class="line1"></div>
      <div class="circle">
        <div class="circle2"></div>
      </div>
      <div class="line2"></div>
      <!-- <div class="circle4"></div> -->
    </div>
  </div>
</section>
