
     <section >
        <div class="pagination__wrap">
            <ul class="main__pagination">              
                <!-- <li class="main__pagination_item js__pagination_active"><a  href="">1</a></li>
                <li class="main__pagination_item"><a class="jj" href="">2</a></li>
                <li class="main__pagination_item"><a href="">3</a></li>
                <li class="main__pagination_item"><a href="">4</a></li>
                <li class="main__pagination_item"><a href="">5</a></li>
                <li class="main__pagination_item "> <span>...</span></li>    
                <li class="main__pagination_item"><a href="">30</a></li> -->
            </ul>
        </div>
    </section>



   
