<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section class="container">
        <div >
            <ul class="main__paginateon">
                <li class="main__paginateon_item js__paginateon_active"><a  href="">1</a></li>
                <li class="main__paginateon_item"><a class="jj" href="">2</a></li>
                <li class="main__paginateon_item"><a href="">3</a></li>
                <li class="main__paginateon_item"><a href="">4</a></li>
                <li class="main__paginateon_item"><a href="">5</a></li>
                <li class="main__paginateon_item "> <span>...</span></li>    
                <li class="main__paginateon_item"><a href="">30</a></li>
            </ul>
        </div>
    </section>
</body>
</html>