.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  @media screen and (min-width: 320px) {
    padding-left: 20px;
    padding-right: 20px;
    width: 320px;
  }
  @media screen and (min-width: 768px) {
    padding-left: 37px;
    padding-right: 37px;
    width: 669px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 37px;
    padding-right: 37px;
    width: 1110px;
  }
}
