.backdrop-about {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transform: scale(1);
  transition-property: inherit;
  transition-duration: 300ms;
  background: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);
  width: 100vw;
  height: 100%;
  z-index: 10;
  overflow-y: scroll;
}

.about-card {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 280px;
  width: 70%;
  height: 730px;
  background-color: var(--modal-bg-color);
  border-top-left-radius: 76px;
  border-bottom-right-radius: 76px;
  padding: 7px 10px 10px;
  @media screen and (min-width: 400px) and (max-width: 767px) {
    width: 380px;
    height: 850px;
  }
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    padding: 12px 20px 20px;
    width: 600px;
    height: 700px;
    border-top-left-radius: 136px;
    border-bottom-right-radius: 136px;
  }
  @media screen and (min-width: 1280px) {
    padding: 17px 30px 30px;
    padding: 30px;
    width: 600px;
    height: 750px;
    border-top-left-radius: 136px;
    border-bottom-right-radius: 136px;
  }

  &__btn {
    display: block;
    width: 100%;
    text-align: center;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 100%;
    }
    @media screen and (min-width: 1280px) {
      width: 100%;
      padding-top: 10px;
    }
  }
  &__x {
    position: relative;
    background-color: var(--modal-bg-color);
    border: none;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    justify-content: end;
    width: 17px;
    height: 17px;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-left: auto;
      width: 20px;
      height: 20px;
    }
    @media screen and (min-width: 1280px) {
      margin-left: auto;
      width: 20px;
      height: 20px;
    }
  }
  &__x2,
  &__x1 {
    position: absolute;
    width: 17px;
    height: 17px;
    // margin-left: -17px;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      // margin-left: -20px;
      width: 20px;
      height: 20px;
    }
    @media screen and (min-width: 1280px) {
      // margin-left: -25px;
      width: 20px;
      height: 20px;
    }
  }
  &__rectangle {
    position: absolute;
    top: -2%;
    right: 0;
    background-color: transparent;
    border: 1px solid var(--accent-opasity30-color);
    width: 90%;
    height: 50%;
    border-top-left-radius: 33px;
    border-bottom-right-radius: 33px;
    @media screen and (min-width: 768px) {
      width: 90%;
      border-top-left-radius: 56px;
      border-bottom-right-radius: 56px;
      top: -5%;
      right: -2%;
    }
  }
  &__team {
    display: flex;
    flex-direction: column;

    .img-box {
      position: relative;
      display: block;
      overflow: hidden;
      width: 98%;
      height: 150px;
      @media screen and (min-width: 400px) and (max-width: 767px) {
        width: 98%;
        height: 200px;
      }
      @media screen and (min-width: 768px) {
        width: 92%;
        height: 200px;
      }
    }

    h2 {
      color: var(--accent-primary-color);
      font-weight: 700;
      text-align: center;
      font-family: 'Montserrat';
      font-size: 18px;
      line-height: 1.22;
      padding: 2px;
      margin-bottom: 10px;
      @media screen and (min-width: 768px) {
        margin-bottom: 20px;
        font-size: 26px;
      }
    }

    ul {
      display: grid;
      gap: 5px;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;
      height: auto;
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
      }
      @media screen and (min-width: 1280px) {
        gap: 30px;
        grid-template-columns: repeat(3, 1fr);
      }
    }

    li {
      position: relative;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 50px 0px;
    }

    h3 {
      display: flex;
      font-weight: 500;
      color: var(--accent-primary-color);
      font-family: Montserrat;
      font-size: 14px;
      line-height: 1.2;
      justify-content: center;
      text-align: center;
      align-items: center;
      margin: 0;
      min-height: 30px;
      margin-bottom: 3px;

      @media screen and (min-width: 1280px) {
        font-size: 16px;
        min-height: 38px;
      }
    }

    p {
      font-family: Montserrat;
      line-height: 1.25;
      color: var(--primary-text-color);
      font-weight: 600;
      font-size: 12px;
      text-align: center;
      color: #757575;
      padding: 2px;
      @media screen and (min-width: 768px) {
        font-size: 14px;
      }
    }
    &-content {
      padding: 2px;
    }
  }
}
