.backdrop-about {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: scale(1);
  transition-property: inherit;
  transition-duration: 500ms;
  padding: 20px 20px;
  background: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);
  width: 100%;
  min-height: 100%;
  z-index: 10;
}

.modal-about-card {
  position: relative;
  margin: 0 auto;
  width: 272px;
  height: auto;
  background-color: var(--modal-bg-color);
  border-top-left-radius: 136px;
  border-bottom-right-radius: 136px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 595px;
    height: auto;
  }
  @media screen and (min-width: 1280px) {
    width: 800px;
    height: auto;
  }
}

.about-card {
  display: block;
  width: 110%;
  text-align: center;
  padding: 17px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 100%;
  }
  @media screen and (min-width: 1280px) {
    width: 100%;
    padding-top: 10px;
  }
  &__x {
    position: relative;
    background-color: var(--modal-bg-color);
    border: none;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    justify-content: end;
    width: 17px;
    height: 17px;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-left: auto;
      width: 20px;
      height: 20px;
    }
    @media screen and (min-width: 1280px) {
      margin-left: auto;
      width: 25px;
      height: 25px;
    }
  }
  &__x2,
  &__x1 {
    position: absolute;
    width: 17px;
    height: 17px;
    // margin-left: -17px;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      // margin-left: -20px;
      width: 20px;
      height: 20px;
    }
    @media screen and (min-width: 1280px) {
      // margin-left: -25px;
      width: 25px;
      height: 25px;
    }
  }
}
.team {
  display: flex;
  flex-direction: column;

  &__img-box {
    display: block;
    overflow: hidden;
    width: 128px;
    height: 161px;
    @media screen and (min-width: 768px) {
      width: 180px;
      height: 227px;
    }
  }
}

.team-title {
  color: var(--accent-primary-color);
  font-weight: 900;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 26px;
  line-height: 1.22;
  padding-bottom: 20px;
}
.team-img {
  // display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 50px 0px;
  // @media screen and (min-width: 768px) and (max-width: 1279px) {
  //   width: 210px;
  //   height: 210px;
  // }

  // @media screen and (min-width: 1280px) {
  //   width: 150px;
  //   height: 150px;
  // }
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.team-item {
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 50px 0px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
    flex-basis: calc((100% - 100px) / 2);
    margin-top: 15px;
    margin-left: 28px;
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 270px) / 3);
    margin-top: 15px;
    margin-left: 28px;
    margin-bottom: 6px;
  }
}
.team-item__name {
  font-weight: 500;
  color: var(--accent-primary-color);
  font-family: Montserrat;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  @media screen and (min-width: 1280px) {
    font-size: 16px;
  }
}
.team-item__position {
  font-family: Montserrat;
  font-size: 16px;
  line-height: 1.25;
  color: var(--primary-text-color);
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: #757575;
  padding-top: 10px;
}
.team-item__content {
  padding-top: 30px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
}
