.header {
  position: relative;
  width: 100%;
  height: 364px;
  margin-bottom: -60px;

  @media screen and (min-width: 1280px) {
    height: 446px;
  }
}

.header__background,
.header__overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.header__background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../images/background-hero-1x-mob.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/background-hero-2x-mob.jpg);
  }
  z-index: -4;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    background-image: url(../images/background-hero-1x-tab.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/background-hero-2x-tab.jpg);
    }
  }

  @media screen and (min-width: 1280px) {
    background-image: url(../images/background-hero-1x.jpg);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/background-hero-2x.jpg);
    }
  }
}

.header__overlay {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(11, 11, 11, 0.5);
  z-index: -3;
}

.header__overlay_bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 102px;
  background: linear-gradient(180deg, rgba(13, 13, 13, 0) 0%, rgba(14, 14, 14, 0.8) 100%);
  z-index: -2;

  @media screen and (min-width: 1280px) {
    background: linear-gradient(180deg, rgba(13, 13, 13, 0.19) 0%, rgba(14, 14, 14, 0.8) 100%);
  }
}

.logo {
  background-image: url('../images/bg-logo-1x-mob.png');
  background-repeat: no-repeat;
  margin-bottom: -12px;
  width: 107px;
  height: 90px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    margin-bottom: -111px;
    width: 180px;
    height: 151px;
    background-image: url('../images/bg-logo-1x-tab.png');
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: -160px;
    width: 240px;
    height: 200px;
    background-image: url('../images/bg-logo-1x-desk.png');
  }
}
.logo-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 25px;
  padding-left: 25px;
  width: 75px;
  height: 44px;
  @media screen and (min-width: 768px) {
    width: 125px;
    height: 81px;
    padding-top: 40px;
    padding-left: 30px;
  }
  @media screen and (min-width: 1280px) {
    width: 180px;
    height: 180px;
  }
}
.logo-icon {
  fill: #ffffff;
  width: 7px;
  height: 10px;

  @media screen and (min-width: 768px) {
    width: 12px;
    height: 16px;
  }
  @media screen and (min-width: 1280px) {
    width: 22px;
    height: 24px;
  }
}
.event-item {
  margin-bottom: 2px;
  margin-right: 2px;
  &:not(:last-child) {
    @media screen and (min-width: 768px) {
      margin-right: 7px;
    }
    @media screen and (min-width: 1280px) {
      margin-right: 7px;
    }
  }
}
.buster-item {
  &:not(:last-child) {
    margin-right: 2px;
    @media screen and (min-width: 768px) {
      margin-right: 6px;
    }
  }
}

.logo-icon__u1 {
  margin-bottom: 6px;
  width: 4px;
  height: 8px;
  @media screen and (min-width: 768px) {
    width: 8px;
    height: 16px;
  }
  @media screen and (min-width: 1280px) {
    width: 10px;
    height: 21px;
  }
}
.logo-icon__u2 {
  margin-top: 6px;
  width: 4px;
  height: 8px;
  @media screen and (min-width: 768px) {
    width: 8px;
    height: 16px;
  }
  @media screen and (min-width: 1280px) {
    width: 10px;
    height: 21px;
  }
}

// .title-search__container {
//   display: flex;
//   flex-direction: column;

//   @media screen and (min-width: 768px) {
//     padding-top: 40px;
//     align-items: flex-start;
//   }

//   @media screen and (min-width: 1280px) {
//     padding-top: 40px;
//     padding-left: 110px;
//     align-items: center;
//   }
// }

.title {
  color: var(--accent-primary-color);
  font-weight: 900;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 25px;
  @media screen and (min-width: 768px) {
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 27px;
  }
  @media screen and (min-width: 1280px) {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 52px;
  }
}

.form-container {
  & .search-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 768px) {
      display: flex;
      flex-direction: row;
    }
  }

  & .form-field-search {
    position: relative;
    display: block;
    margin-bottom: 25px;

    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
    }
  }

  & .form-field-country {
    position: relative;
    display: block;
    // margin-bottom: 25px;

    @media screen and (min-width: 768px) {
      margin-left: 30px;
    }
  }

  & .search-icon {
    position: absolute;
    right: 30px;
    top: 14px;
    width: 12px;
    height: 12px;
    fill: #939393;
  }

  & .country-icon {
    position: absolute;
    right: 30px;
    top: 15px;
    width: 15px;
    height: 10px;
    fill: #939393;
  }
}

.search-input,
.country-input {
  z-index: 5;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: #939393;
  width: 270px;
  height: 40px;
  padding-left: 30px;
  padding-right: 50px;
  font-family: 'Montserrat';
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

// .country-input {
//   // appearance: none;

//   @media screen and (min-width: 768px) {
//     margin-left: 30px;
//   }
// }

// ===== Стили для оформления секции form-field-country =====

.app {
  ::-webkit-scrollbar {
    width: 3px;
  }

  ::-webkit-scrollbar-button {
    height: 15px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #939393;
    border-radius: 20px;
    border: none;
    height: 43px;
  }

  // padding-top: 5rem;
  // display: flex;
  // justify-content: center;

  // @media screen and (min-width: 768px) {
  //   margin-left: 30px;
  // }
}

.wrap {
  width: 270px;
  height: 40px;
}

.select {
  width: 100%;
  position: relative;
  z-index: 5;

  &.open {
    .select__dropdown {
      display: block;
    }

    .select__input {
      // border-bottom: 1px solid #939393;
      position: relative;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;

      &::after {
        height: 1px;
        width: 225px;
        background-color: #939393;
        position: absolute;
        left: 23px;
        bottom: 0px;
        z-index: 1;
        content: '';
      }
    }

    .select__backdrop {
      display: block;
    }
  }

  &__input {
    // display: block;
    border: none;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: #939393;
    height: 40px;
    margin-bottom: 25px;
    padding-left: 30px;
    padding-right: 30px;
    // white-space: nowrap;
    // overflow-x: hidden;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // padding: 0 1rem;
    cursor: pointer;

    & span {
      max-width: 190px;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    border: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    color: #939393;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-align: left;
    top: 40px;
    left: 0;
    right: 0;
    max-height: 170px;
    overflow-y: auto;
    // box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.3);
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__backdrop {
    position: fixed;
    display: none;
    z-index: -1;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: transparent;
  }

  &__item {
    display: block;
    width: 265px;
    padding-left: 30px;
    padding-right: 20px;
    height: 25px;
    line-height: 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #cccccc;

    &.selected {
      font-weight: 700;
    }

    &:hover {
      background-color: #dc56c5;
      color: white;
      cursor: pointer;
      transition: 0.15s background-color ease-in;
    }
  }
}

// ===== Стили для оформления секции form-field-country =====
