body {
  background-color: var(--primary-bg-color);
  z-index: -7;
  top: 364px;
  width: 100%;
  z-index: -1;
  background-position: 0 60px;
  background-repeat: repeat-y;
  background-image: url(../images/noise-body-1x-mob.png);
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/noise-body-2x-mob.png);
  }

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    top: 364px;
    background-image: url(../images/noise-body-1x-tab.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/noise-body-2x-tab.png);
    }
  }
  @media screen and (min-width: 1280px) {
    top: 446px;
    background-image: url(../images/noise-body-1x-desk.png);
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/noise-body-2x-desk.png);
    }
  }
}

.search {
  width: 100%;
  z-index: 2;

  &__list {
    margin-top: -60px;
    z-index: 3;
    display: grid;
    gap: 2px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: auto;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      gap: 45px 13px;
      grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 1280px) {
      padding-left: 45px;
      padding-right: 45px;
      gap: 56px;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-columns: auto;
    }
  }

  &__item {
    position: relative;
    z-index: 3;
    width: 138px;
    height: 231px;
    @media screen and (min-width: 768px) {
      width: 194px;
      height: 312px;
      cursor: pointer;
    }
  }

  &__card {
    position: absolute;
    top: 9px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    @media screen and (min-width: 768px) {
      top: 13px;
      right: 14px;
    }
  }
  &__img {
    // object-fit: cover;
    // object-position: 20% 30px;
    // cursor: pointer;
    overflow: hidden;
    width: 128px;
    height: 161px;
    border-top-left-radius: 69px;
    border-bottom-right-radius: 69px;
    margin-bottom: 5px;
    @media screen and (min-width: 768px) {
      width: 180px;
      height: 227px;
    }
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border: none;
    }
  }
  &__rectangle {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: 1px solid var(--accent-opasity30-color);
    width: 109px;
    height: 101px;
    border-top-left-radius: 53px;
    border-bottom-right-radius: 53px;
    @media screen and (min-width: 768px) {
      width: 153px;
      height: 143px;
      border-top-left-radius: 76px;
      border-bottom-right-radius: 76px;
    }
  }
}
.animation__scss {
  -webkit-transition: 8.3s;
  -moz-transition: 8.3s;
  transition: 8.3s;
  -webkit-transition-timing-function: linear;
  -moz-transition-timing-function: linear;
  transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  &:hover {
    margin-left: -300px;
  }
}
.card-text {
  &__name {
    font-weight: 700;
    color: var(--accent-primary-color);
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.25;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 16px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
  &__transform {
    text-align: center;
    width: 120px;
    overflow: hidden;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 170px;
    }
    @media screen and (min-width: 1280px) {
      width: 170px;
    }
  }
  &__transform2 {
    text-align: center;
    width: 120px;
    overflow: hidden;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 170px;
    }
    @media screen and (min-width: 1280px) {
      width: 170px;
    }
  }
  &__data {
    font-family: Montserrat;
    font-size: 14px;
    line-height: 1.25;
    color: var(--primary-text-color);
    font-weight: 400;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 16px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
  &__place {
    font-family: Montserrat;
    font-size: 12px;
    line-height: 1.25;
    color: var(--primary-text-color);
    font-weight: 600;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      font-size: 14px;
    }
    @media screen and (min-width: 768px) {
      font-size: 16px;
    }
  }
}
.place-icon {
  width: 7px;
  height: 10px;
  use {
    width: 100%;
    height: 100%;
  }
}

.geometry {
  position: absolute;
  top: 0;
  left: 1%;
  display: flex;
  justify-content: space-between;
  width: 98%;
  z-index: -1;
  height: 2946px;
  // min-height: 100vh;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and(max-width: 768px) and (max-width: 1279px) {
    height: 2946px;
  }
  @media screen and (min-width: 1280px) {
    height: 2376px;
  }

  &__line1 {
    margin: 0 auto;
    width: 1px;
    height: 742px;
    background-color: var(--decor-bg-color);
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      height: 469px;
    }
  }
  &__line2 {
    margin: 0 auto;
    width: 1px;
    height: 1310px;
    background-color: var(--decor-bg-color);
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      height: 2288px;
    }
  }
  &__line3 {
    margin: 0 auto;
    width: 1px;
    height: 1310px;
    background-color: var(--decor-bg-color);
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      height: 1725px;
    }
  }

  &__right {
    top: 0;
    right: 5%;
  }
  &__left {
    top: 0;
    left: 5%;
  }

  &__circle {
    margin: 0 auto;
    width: 216px;
    height: 216px;
    border: 1px solid var(--decor-bg-color);
    border-radius: 50%;
    background-color: transparent;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 126px;
      height: 126px;
    }
  }

  &__circle2 {
    margin: 40px auto;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.02);
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 80px;
      height: 80px;
      margin: 23px auto;
    }
  }
}

.geometry2 {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 3%;
  display: flex;
  justify-content: space-between;
  width: 94%;
  max-height: 2376px;
  overflow: hidden;
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and(max-width: 768px) and (max-width: 1279px) {
    max-height: 2946px;
  }

  &__right {
    // position: absolute;
    top: 0;
    right: 5%;
    z-index: -1;
  }
  &__left {
    // position: absolute;
    top: 0;
    left: 5%;
    z-index: -1;
  }
  &__circle-left {
    width: 334px;
    height: 334px;
    border: 1px solid var(--decor-bg-color);
    border-top-right-radius: 100%;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 237px;
      height: 237px;
    }
  }
  &__circle-right {
    width: 334px;
    height: 334px;
    border: 1px solid var(--decor-bg-color);
    border-top-left-radius: 100%;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 237px;
      height: 237px;
    }
  }
  &__space-left {
    background-color: transparent;
    height: 1254px;
    width: 237px;
  }
  &__space-right {
    background-color: transparent;
    height: 390px;
    width: 237px;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      height: 784px;
    }
  }
}
