.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  transform: scale(1);
  transition-property: inherit;
  transition-duration: 300ms;
  background: rgba(32, 13, 29, 0.6);
  backdrop-filter: blur(3px);
  width: 100vw;
  height: 100%;
  z-index: 10;
  overflow-y: scroll;
}
.modal-event-card {
  position: absolute;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  width: 272px;
  height: 835px;
  background-color: var(--modal-bg-color);
  border-top-left-radius: 150px;
  border-bottom-right-radius: 150px;
  z-index: 11;
  padding: 17px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 595px;
    height: 820px;
    padding: 15px 15px 62px 30px;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
  }
  @media screen and (min-width: 1280px) {
    width: 830px;
    height: 825px;
    padding: 20px 20px 62px 30px;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
  }
}

.event-card {
  display: block;
  width: 100%;
  text-align: center;

  // padding: 17px;
  @media screen and (min-width: 768px) and (max-width: 1279px) {
  }
  @media screen and (min-width: 1280px) {
    // padding: 30px 30px 62px;
  }

  &__position {
    display: flex;
  }

  &__img-box-big {
    display: none;
    overflow: hidden;
    box-shadow: 4px 0px 8px 8px rgba(34, 60, 80, 0.3);

    border-radius: 10px 10px 10px 10px;

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-top: 45px;
      margin-left: 20px;
      display: flex;
      margin-top: 40px;
      width: 233px;
      height: 416px;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 25px;
      display: flex;
      width: 277px;
      height: 400px;
    }
  }

  &__x {
    z-index: 0;
    position: relative;
    background-color: var(--modal-bg-color);
    border: none;
    cursor: pointer;
    margin-left: auto;
    display: flex;
    justify-content: end;
    width: 17px;
    height: 17px;

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-left: auto;
      width: 20px;
      height: 20px;
    }
    @media screen and (min-width: 1280px) {
      margin-left: auto;
      width: 25px;
      height: 25px;
    }
  }
  &__x2,
  &__x1 {
    z-index: -1;
    position: absolute;
    width: 17px;
    height: 17px;
    // margin-left: -17px;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      // margin-left: -20px;
      width: 20px;
      height: 20px;
    }
    @media screen and (min-width: 1280px) {
      // margin-left: -25px;
      width: 25px;
      height: 25px;
    }
  }
  &__img-box {
    box-shadow: 0px 0px 4px 8px rgb(30 20 60 / 12%);
    margin: 0 auto 18px;
    width: 102px;
    height: 102px;
    border-radius: 50%;
    overflow: hidden;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 70px;
      height: 70px;
      margin-bottom: 23px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 41px;
      // width: 132px;
      // height: 132px;
      width: 125px;
      height: 125px;
    }
    img {
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__event {
    font-family: Montserrat;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 56%;
      margin-left: 30px;
      // margin-left: auto;
      text-align: left;
    }
    @media screen and (min-width: 1280px) {
      width: 56%;
      margin-left: 60px;
      text-align: left;
      &::before {
        width: 360px;
        height: 641px;
        background-image: url('https://cdn-icons-png.flaticon.com/512/599/599502.png');
      }
    }

    h3 {
      margin-bottom: 5px;
      font-weight: 600;
      font-size: 20px;
      line-height: 1.2;
      text-align: center;
      color: var(--accent-primary-color);
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        text-align: left;
        font-size: 20px;
        margin-top: 10px;
      }
      @media screen and (min-width: 1280px) {
        text-align: left;
        margin-bottom: 7px;
        // font-size: 24px;
        font-size: 17px;
        margin-top: 10px;
        // margin-top: 20px;
      }
    }

    p {
      // margin-bottom: 10px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.25;
      text-align: center;
      color: --secondary-text-color;
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        font-size: 16px;
        text-align: left;
        // margin-bottom: 10px;
      }
      @media screen and (min-width: 1280px) {
        text-align: left;
        // font-size: 18px;
        font-size: 15px;
      }
      // @media screen and (min-width: 768px) and (max-width: 1279px) {
      // }
      // @media screen and (min-width: 1280px) {
      // }
    }

    a {
      display: inline-block;
      text-align: center;
      padding-top: 10px;
      margin-bottom: 10px;

      height: 40px;
      border-radius: 5px;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin-bottom: 15px;
      }
      @media screen and (min-width: 1280px) {
        // margin-bottom: 31px;
        margin-bottom: 15px;
      }
    }
  }

  &__btn-buy {
    position: relative;
    border: 1px solid blue;
    margin-top: 10px;
    color: var(--primary-text-color);
    background-color: var(--secondary-accent-color);
    border-radius: 5px;
    -webkit-transition: all ease;
    -moz-transition: all ease;
    -o-transition: all ease;
    transition: all ease;
    padding: 10px 35px;
    overflow: hidden;
    &:hover {
      border: 1px solid #dc56c5;
      color: #dc56c5;
      background-color: whitesmoke;
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
    &:before {
      font-family: FontAwesome;
      content: '\f07a';
      position: absolute;
      top: 11px;
      left: -30px;
      transition: all 200ms ease;
    }
    &:hover:before {
      left: 7px;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 31px;
      margin-top: 20px;
    }
  }
  &__btn-more {
    padding-top: 9px;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    width: 210px;
    height: 40px;
    color: var(--secondary-accent-color);
    background-color: transparent;
    border: 1px solid var(--secondary-accent-color);
    border-radius: 5px;
    -webkit-transition: all ease;
    -moz-transition: all ease;
    -o-transition: all ease;
    transition: all ease;
    &:hover {
      color: white;
      background-color: var(--secondary-accent-color);
      cursor: pointer;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-top: 5px;
    }
    @media screen and (min-width: 1280px) {
      margin-top: 14px;
    }
  }
  &__bar-code {
    display: flex;
    justify-content: center;
    @media screen and (min-width: 768px) {
      justify-content: left;
    }
    &__text {
      letter-spacing: -0.2em;
      margin-right: 5px;
    }
  }
}

// ========= SCROLL INFO ==========
#element {
  overflow: hidden;
  overflow-y: scroll;
  margin-bottom: 10px;
  width: 243px;
  height: 100px;
  @media screen and (min-width: 768px) {
    width: 265px;
    height: 100px;
  }
  @media screen and (min-width: 1280px) {
    width: 425px;
    height: 55px;
  }
}
#element::-webkit-scrollbar {
  width: 10px;
  background-color: var(--accent-opasity20-color);
}
#element::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--accent-primary-color);
}

#element::-webkit-scrollbar-track {
  background-color: var(--modal-bg-color);
}
.hidden-name {
  visibility: hidden;
}
