.back_to_top {
  position: fixed;
  bottom: 200px;
  right: 40px;
  z-index: 9999;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  line-height: 57px;
  background: var(--accent-opasity30-color);
  color: var(--modal-bg-color);
  cursor: pointer;
  border-radius: 2px;
  display: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.back_to_top:hover {
  background: var(--accent-primary-color);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.back_to_top-show {
  display: block;
}
